name: CI

on: [pull_request]

permissions:
  contents: read

env:
  PYTHON_VERSION: 3.12
  POETRY_VERSION: 1.8.3

jobs:
  test:
    name: Build & test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install Poetry with dynamic versioning support
        run: |
          pipx install poetry==${{ env.POETRY_VERSION }}
          pipx inject poetry "poetry-dynamic-versioning[plugin]"
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: poetry
      - name: Install dependencies
        run: poetry install --no-interaction --sync
      - name: Run tests
        run: poetry run pytest
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: test-results/coverage/cov.xml
          flags: unittests
